@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');

body {
  color: $clr-black;
  font-family: 'Courier Prime', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
